:host { 
    display: contents; 
  }
  .page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .page-page {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px 0 0;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-section {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6000000238418579);
  }
  .page-container1 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text {
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text02 {
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-button {
    gap: 12px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-primary {
    width: 160px;
    display: flex;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
  }
  .page-text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector200 {
    top: 360px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section1 {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container2 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text06 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-list {
    gap: 40px;
    display: flex;
    padding: 20px 0;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .page-row {
    gap: 40px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-article {
    gap: 16px;
    display: flex;
    padding: 16px;
    flex-grow: 1;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
  }
  .page-imagecontainer {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .page-image {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    background-color: rgba(216, 216, 216, 0.5);
  }
  .page-frame427318906 {
    gap: 8px;
    width: 382px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text08 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text10 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-article1 {
    gap: 16px;
    display: flex;
    padding: 16px;
    flex-grow: 1;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
  }
  .page-imagecontainer1 {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .page-image1 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    background-color: rgba(216, 216, 216, 0.5);
  }
  .page-frame42731890601 {
    gap: 8px;
    width: 382px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text12 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-row1 {
    gap: 40px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-article2 {
    gap: 16px;
    display: flex;
    padding: 16px;
    flex-grow: 1;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
  }
  .page-imagecontainer2 {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .page-image2 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    background-color: rgba(216, 216, 216, 0.5);
  }
  .page-frame42731890602 {
    gap: 8px;
    width: 382px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text16 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text18 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-article3 {
    gap: 16px;
    display: flex;
    padding: 16px;
    flex-grow: 1;
    align-items: flex-start;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    justify-content: center;
  }
  .page-imagecontainer3 {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .page-image3 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    background-color: rgba(216, 216, 216, 0.5);
  }
  .page-frame42731890603 {
    gap: 8px;
    width: 382px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text20 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text22 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector2001 {
    top: 536px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section2 {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container3 {
    gap: 24px;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text24 {
    color: rgba(0, 0, 0, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-list1 {
    gap: 40px;
    display: flex;
    padding: 20px 0;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-item {
    gap: 20px;
    width: 245px;
    display: flex;
    padding: 12px 0;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-frame {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-text26 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 62.5px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 100px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-frame42731890604 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-text28 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text30 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 28px;
    align-self: stretch;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-item1 {
    gap: 20px;
    width: 245px;
    display: flex;
    padding: 12px 0;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-frame1 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-text32 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 62.5px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 100px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-frame42731890605 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-text34 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text36 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 28px;
    align-self: stretch;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-item2 {
    gap: 20px;
    width: 245px;
    display: flex;
    padding: 12px 0;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-frame2 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-text38 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 62.5px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 100px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-frame42731890606 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-text40 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text42 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 28px;
    align-self: stretch;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-item3 {
    gap: 20px;
    width: 245px;
    display: flex;
    padding: 12px 0;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .page-frame3 {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-text44 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 62.5px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 100px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-frame42731890607 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-text46 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text48 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 28px;
    align-self: stretch;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector2002 {
    top: 568px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 1;
    position: absolute;
  }
  .page-section3 {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container4 {
    gap: 24px;
    width: 520px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text50 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 40px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-list2 {
    gap: 40px;
    display: flex;
    z-index: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  .page-card {
    gap: 16px;
    width: 240px;
    display: flex;
    padding: 16px;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-user {
    gap: 4px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-avatar {
    gap: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .page-avatar1 {
    width: 32px;
    height: 32px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.10000000149011612);
  }
  .page-frame42731890608 {
    width: 168px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text52 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text54 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-iconbuttons {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-text56 {
    color: rgba(0, 0, 0, 1);
    width: 24px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text58 {
    color: rgba(0, 0, 0, 1);
    width: 24px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-card1 {
    gap: 16px;
    width: 240px;
    display: flex;
    padding: 16px;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05000000074505806);
  }
  .page-user1 {
    gap: 4px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-avatar2 {
    gap: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .page-avatar3 {
    width: 32px;
    height: 32px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.10000000149011612);
  }
  .page-frame42731890609 {
    width: 168px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text60 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text62 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-iconbuttons1 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .page-text64 {
    color: rgba(0, 0, 0, 1);
    width: 24px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text66 {
    color: rgba(0, 0, 0, 1);
    width: 24px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector2003 {
    top: 312px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 2;
    position: absolute;
  }
  .page-section4 {
    gap: 60px;
    display: flex;
    padding: 60px 170px;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-imagecontainer4 {
    height: 336px;
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .page-image4 {
    width: 520px;
    height: 296px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 6px;
    background-color: rgba(216, 216, 216, 0.5);
  }
  .page-container5 {
    gap: 24px;
    width: 520px;
    display: flex;
    z-index: 1;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .page-text68 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 40px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text70 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input {
    gap: 4px;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .page-text72 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-textfield {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text74 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-input1 {
    gap: 4px;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .page-text76 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 14px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-textfield1 {
    gap: 4px;
    display: flex;
    padding: 8px 12px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 0.10000000149011612);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
  }
  .page-text78 {
    color: rgba(0, 0, 0, 0.5);
    height: auto;
    flex-grow: 1;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-button1 {
    gap: 12px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .page-primary1 {
    width: 160px;
    display: flex;
    padding: 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
  }
  .page-text80 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-vector2004 {
    top: 455.999755859375px;
    left: 0px;
    width: 1440px;
    height: 1px;
    z-index: 2;
    position: absolute;
  }
  .page-section5 {
    gap: 60px;
    display: flex;
    padding: 60px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-container6 {
    gap: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .page-text82 {
    color: rgba(0, 0, 0, 1);
    width: 381px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text84 {
    color: rgba(0, 0, 0, 1);
    width: 124px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .page-text86 {
    color: rgba(0, 0, 0, 1);
    width: 119px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  