<div class="page-container"
><div class="page-mainpage"
><div class="page-section"
><div class="page-container1"
><span class="page-text">Your Workspaces</span></div
><div class="page-textfield"
><span class="page-text1"
><span>Search in your Workspaces</span><br /></span
><img
  alt="icsearch1401"
  src="/assets/external/icsearch1401-fxp9.svg"
  class="page-icsearch" /></div></div
><div class="page-section1"
><div class="page-list"
><app-card></app-card><app-card></app-card><app-card></app-card
><app-card></app-card><app-card></app-card><app-card></app-card
><app-card></app-card
><div class="page-card"
><div class="page-imagecontainer"
><div class="page-image"
><span class="page-text4">+</span></div
></div
></div
></div
></div
></div
></div
>
