<div class="page-container">
  <div class="page-mainpage">
    <div class="page-section">
      <div class="page-container1">
        <span class="page-text">Your Workspaces</span>
      </div>
      <div class="page-textfield">
        <span class="page-text1">
          <span>Search in your Workspaces</span>
          <br/>
        </span>
      </div>
    </div>
    <div class="page-section1">
      <div class="page-list">
        <app-card  *ngFor="let workspace of workspaces" [workspace]="workspace">

        </app-card>
        <div class="page-card" (click)="addNewWorkspace()">
          <div class="page-imagecontainer">
            <div class="page-image">
              <span class="page-text4">+</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
