<div class="page1-sidebar">
  <div class="page1-frame427318907">
    <span class="page1-text">
      <span>User List</span>
    </span>
  </div>
  <app-user-permissions-item *ngFor="let permission of permissions" [permission]="permission"></app-user-permissions-item>

  <div *ngIf="showAddPermissionPanel" class="add-permission-panel">
    <mat-form-field class="full-width-input">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="newUserEmail" placeholder="Enter email">
    </mat-form-field>
    <div class="actions-row">
      <mat-form-field>
        <mat-label>Permission</mat-label>
        <mat-select [(value)]="newUserRole">
          <mat-option value="General">General</mat-option>
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Owner">Owner</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="addPermission()">Add</button>
    </div>
  </div>

  <div class="page1-item2">
    <button class="page1-frame4273189082" (click)="toggleAddPermissionPanel()">
      <span class="page1-text14">+</span>
    </button>
  </div>
</div>
