<div class="page1-card" *ngIf="schemaObject" (click)="openSchemaEditDialog()">
  <div class="page1-imagecontainer">
    <div class="page1-image">
      <span class="page1-text19">{{ schemaObject.name }}</span>
      <div class="page1-tag">
        <span class="page1-text21">Documents: {{ schemaObject.numberOfDocuments }}</span>
      </div>
    </div>
  </div>
  <div class="kebab-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteItem($event)">
        <mat-icon>delete</mat-icon>
        <span>Delete </span>
      </button>
      <button mat-menu-item (click)="viewContent($event)">
        <mat-icon>exit_to_app</mat-icon>
        <span>View Content</span>
      </button>
    </mat-menu>
  </div>
  <div class="page1-textcontent">
    <span class="page1-text25">{{schemaObject.name}}</span>
    <span class="page1-text23">Fields: {{ schemaObject.numberOfFields }}</span>
  </div>
</div>
