<div class="u-shape">
  <div class="horizontal top" [style.background-color]="color">
    <input *ngIf="isCreate"
           [(ngModel)]="name"
           (ngModelChange)="nameChange.emit(name)"
           class="name-input"
           placeholder="Enter name">
    <span  class="name-input" *ngIf="!isCreate">{{ name }}</span>
  </div>
  <div class="content-wrapper">
    <div class="vertical" [style.background-color]="color"></div>
    <div class="content-area">
      <ng-content></ng-content> <!-- Place for dynamic content -->
    </div>
  </div>
  <div class="horizontal bottom" [style.background-color]="color"></div>
</div>
