:host {
  display: contents;
}
.card-card {
  width: 317px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
}
.card-imagecontainer {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.card-image {
  width: 317px;
  height: 240px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(216, 216, 216, 0.5);
}
.card-text {
  top: 112px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.card-tag {
  top: 0px;
  left: 0px;
  width: 98px;
  display: flex;
  padding: 4px 8px;
  position: absolute;
  align-items: center;
  border-radius: 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05000000074505806);
}
.card-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.card-textcontent {
  gap: 4px;
  display: flex;
  padding: 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.card-text4 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.card-text5 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
