<div class="card-card" [routerLink]="['/workspace-management', workspace!.name]">
  <div class="card-imagecontainer">
    <div class="card-image">
      <!-- Placeholder for any image or icon representation -->
      <span class="card-text"></span>
    </div>
    <div class="card-tag">
      <span class="card-text2"><span>Documents: {{ workspace!.numOfDocuments }}</span></span>
    </div>
  </div>
  <div class="card-textcontent">
    <span class="card-text4">{{ workspace!.name }}</span>
    <span class="card-text5">Schema Objects: {{ workspace!.numOfSchemaObjects }}</span>
  </div>
</div>
