.u-shape {
  display: flex;
  flex-direction: column; /* Align children vertically */
  height: 100%; /* Fill the height of the container */
  width: 100%; /* Fill the width of the container */
}

.content-wrapper {
  display: flex; /* Horizontal layout for content and the vertical bar */
}

.horizontal {
  height: 20px; /* Thickness of the U shape */
  width: 100%;
}

.vertical {
  width: 20px; /* Thickness of the U shape */
  position: relative;
  z-index: 1; /* Ensures overlap over horizontal bars */
}


.top {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom: 0; /* Remove bottom border to allow seamless connection */
  padding: 3px 5px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.bottom {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  border-top: 0; /* Remove top border to allow seamless connection */
}

.content-area {
  flex-grow: 1;
  display: flex;
  justify-content: left; /* Center content horizontally */
  padding: 10px; /* Padding around the content */
}
.name-input {
  background: transparent;
  border: none;
  width: 100%;
  color: inherit;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-container {
  height: 35px;
  width: 35px;
  padding: 5px 0 0 0;
  margin: 0
}

