.page-section5 {
    gap: 60px;
    display: flex;
    padding: 60px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  background-color: rgba(0, 0, 0, 0.05000000074505806);
}

  .page-container6 {
    gap: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }

  .page-text82 {
    color: rgba(0, 0, 0, 1);
    width: 381px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }

  .page-text84 {
    color: rgba(0, 0, 0, 1);
    width: 124px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }

  .page-text86 {
    color: rgba(0, 0, 0, 1);
    width: 119px;
    height: auto;
    font-size: 20px;
    align-self: stretch;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
