<ng-container *ngIf="schemaField!.type !== 'Array' && schemaField!.type !== 'Object'">
  <div class="schema-field" [ngStyle]="{'background-color': getColor(schemaField!.type)}">
    <input *ngIf="isCreate" [(ngModel)]="schemaField!.fieldName" (ngModelChange)="updateFieldName($event)" class="name-input">
    <span class="name-input" *ngIf="!isCreate">{{ schemaField!.fieldName != null ? schemaField!.fieldName : schemaField!.type + " field" }}</span>
    <div class="icons-container">
      <mat-icon *ngIf="schemaField?.isPrimaryKey">key</mat-icon>
      <button class="menu-container" mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!isCreate">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDeleteField()">
          Delete
        </button>
        <button (click)="markFieldAsPK()" mat-menu-item [disabled]="schemaField?.isPrimaryKey || !isRoot">
          Mark As PK
        </button>
      </mat-menu>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="schemaField!.type === 'Array'">
  <app-parent-schema-field-node
    [schemaField]="schemaField"
    [isCreate]="isCreate"
    (nameChange)="schemaField!.fieldName = $event"
    (deleteField)="onDeleteField()">
    <app-schema-field-node
      *ngIf="schemaField!.arrayElement?.type != null"
      [isCreate]="isCreate"
      [schemaField]="schemaField!.arrayElement"
      (deleteField)="handleDeleteArrayElement()"></app-schema-field-node>
    <div *ngIf="isCreate && schemaField!.arrayElement?.type == null" class="page2-objectcontent">
      <app-add-new-field-icon  [schemaFields]="schemaField!.fields" (onFieldAdded)="handleArrayElementAdded($event)"></app-add-new-field-icon>
    </div>
  </app-parent-schema-field-node>
</ng-container>

<ng-container *ngIf="schemaField!.type === 'Object'">
  <app-parent-schema-field-node
    [schemaField]="schemaField"
    [isCreate]="isCreate"
    (nameChange)="schemaField!.fieldName = $event"
    (deleteField)="onDeleteField()">
    <div class="page2-objectcontent">
      <ng-container *ngFor="let key of objectKeys(schemaField!.fields)">
        <app-schema-field-node
          [schemaField]="schemaField!.fields[key]"
          [isCreate]="isCreate"
          (deleteField)="handleDeleteField(key)"></app-schema-field-node>
      </ng-container>
      <div *ngIf="isCreate" class="page2-objectcontent">
        <app-add-new-field-icon [schemaFields]="schemaField!.fields" (onFieldAdded)="handleFieldAdded($event)"></app-add-new-field-icon>
      </div>
    </div>
  </app-parent-schema-field-node>
</ng-container>
