

.page2-container {
  width: 80vh;
  min-height: 50vh; /* Adjust height calculation if necessary */
}

.page2-page {
  width: 90%;
  min-height: 50vh; /* Adjust height calculation if necessary */
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.page2-section {
  display: flex;
  flex-direction: row;
  gap: 100PX;
  align-content: space-between;
  width: 100%;
  padding: 24px;
}

.page2-text {
  font-size: 24px; /* Adjusted for better readability */
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.87); /* Enhanced text color for better visibility */
  margin-bottom: 20px; /* Adds space below the text */
}

.mat-form-field {
  width: 100%; /* Ensures form field uses available width */
  max-width: 500px; /* Optionally restricts width for larger screens */
  margin-bottom: 20px; /* Adds space below the input field */
}

.page2-workplace {
  width: 100%;
  display: flex;
  flex-direction: row; /* Adjusts for a horizontal layout */
  align-items: start;
  padding: 20px;
  margin: 20px;
  gap: 80px;
  background-color: rgba(216, 216, 216, 0.5);
  border-radius: 15px;
  overflow-x: auto; /* Allows horizontal scrolling within the workplace area */
}

.page2-available-data-types {
  gap: 14px;
  display: flex;
  padding: 24px 17px;
  align-items: flex-start;
  flex-direction: column;
}
.page2-image {
  width: 153px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(205, 91, 136, 1);
}
.page2-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.page2-image1 {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(150, 93, 174, 1);
}

.page2-image2 {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(115, 177, 171, 1);
}

.page2-image3 {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(123, 159, 176, 1);
}

.page2-image4 {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 136, 98, 1);
}
.page2-frame427318910 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page2-objectconstructor {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.page2-objectcontent {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.page2-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
}

.error-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text color */
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 4px;
}

.error-message {
  margin-bottom: 5px;
}
